
.bg-pdblue {
    background-color: rgb(78, 146, 155);
}


body {
    font-family: Quicksand;
}


.small {
    width: 28px;
    padding: 3px
}

.small:hover {
    background-color:rgb(78, 146, 155) ;
    border-radius: 12px;
}

.large {
    font-size: 50px;
}

.trans{
    img {
        transition:  all 1s;
        cursor: pointer;
     }
     img:hover {transform: scale(1.1);}
}

footer {
    position: relative;
    bottom: 0;
    left:0;
    width:100vw;
}