.popup{
    position: fixed;
    top:0;
    left: 0;
    width:100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7); 
    z-index: 100;
}

.alert-box{
    position: fixed;
    top: 30vh;
    left: 20vw;
    width: 60vw;
    padding: 15px 30px;
    z-index: 120;
    background: rgba(250, 250, 250, 0.96);
    box-shadow: 0 3px 6px rgba(0,0,0,0.4);
    text-align: center;

    
}

