<div class="row field text-center">
    <img src="../../../assets/images/shop.jpg" alt="" class="img-fluid my-3" style="width:800px">
    <h2 class="text-secondary my-3"> How to shop?</h2>
    <div>
        <ul>
            <li>Walk or drive around your city. Bring a pen and paper with you to write down the businesses you see. Make a tally mark next to each business as you come across more than one. For example, if you see 5 bakeries, you should have the word "bakery" written with 4 tally marks next to it. Although not the most scientific, it can give you a good idea of what kind of shops are in each area.</li><br>
            <li> Visit your local chamber of commerce. Typically, chambers of commerce offer a wealth of information about what businesses are already existent, and lots of additional information for small business owners. They may be able to advise you on potentially good business ventures.</li><br>
            <li> Governmental agencies typically offer plenty of information about economic indicators, income and earnings in different parts of the country, as well as statistics about employment.[1] This information can also point you in the direction of good business ideas.</li>
            <hr>
            <h2 class="text-secondary my-3">Hello shooping basket!</h2>
            <li>Walk or drive around your city. Bring a pen and paper with you to write down the businesses you see. Make a tally mark next to each business as you come across more than one. For example, if you see 5 bakeries, you should have the word "bakery" written with 4 tally marks next to it. Although not the most scientific, it can give you a good idea of what kind of shops are in each area.</li><br>
            <li> Visit your local chamber of commerce. Typically, chambers of commerce offer a wealth of information about what businesses are already existent, and lots of additional information for small business owners. They may be able to advise you on potentially good business ventures.</li><br>
            <li> Governmental agencies typically offer plenty of information about economic indicators, income and earnings in different parts of the country, as well as statistics about employment.[1] This information can also point you in the direction of good business ideas.</li>
        </ul>
    </div>
</div>
